/* Apply border-style to entire page  */
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(lemonchiffon, pink);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#start {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  border: solid #0f6efd 3px;
  border-radius: 6px;
  padding: 100px;
  background-color: skyblue;
}

.clock {
  float: right;
}
