/* Apply border-style to entire page  */
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(lemonchiffon, pink);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-left: 5%;
}

#start,
#result,
#questions {
  width: 90%;
  text-align: center;
  margin-top: 7%;
  border: solid #0f6efd 3px;
  border-radius: 6px;
  padding: 7%;
  background-color: skyblue;
  box-shadow: 3px 2px 3px black;
}

a {
  display: flex;
  align-self: flex-start;
  margin-top: 8%;
}

#clear {
  color: #0f6efd;
  text-decoration: underline;
}

a:hover,
#clear:hover {
  color: mistyrose;
}

.hi-buttons {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

#questions {
  display: flex;
  flex-direction: column;
}

#start-button,
#high-score,
#hiscore-submit,
#answer {
  border: 3px solid mistyrose;
}

#start-button:hover,
#high-score:hover,
#hiscore-submit:hover,
#answer:hover {
  background: mintcream;
  color: black;
}

#answer {
  width: 85%;
  margin-top: 4%;
}

#high-score {
  margin-top: 0.5em;
  margin-left: 0.5em;
  box-shadow: 3px 2px 3px black;
}

#initials {
  width: 60%;
}

.score-input {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

#quiz-box {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  border: solid #0f6efd 3px;
  border-radius: 6px;
  padding: 50px;
  background-color: skyblue;
  box-shadow: 3px 2px 3px black;
}

.quest-text {
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
}

/* .option {
  background: mintcream;
  border: 3px solid mistyrose;
  border-radius: 5px;
  padding: 6px 8px;
  justify-content: space-between;
  margin-bottom: 17px;
}

.option:hover {
  color: mintcream;
  background: #0f6efd;
  cursor: pointer;
} */

.clock {
  margin-top: 3% !important;
  background-color: #0f6efd;
  color: white;
  border-radius: 6px;
  padding: 6px;
  margin: 0 auto;
  width: 10em;
  text-align: center;
  box-shadow: 3px 2px 3px black;
}

.hidden {
  display: none;
}
