/* Apply border-style to entire page  */
* {
  box-sizing: border-box;
}

#start-card {
  width: 500px;
  margin: 0 auto;
  float: none;
  margin-top: 100px;
  border: solid #0f6efd 5px;
  border-radius: 6px;
}

.clock {
  float: right;
}
